<!doctype html>
<title><%= @title || "Welcome" %> | MiniTwit</title>
<link rel="stylesheet" type="text/css" href="/style.css">
<div class="page">
  <h1>MiniTwit</h1>
  <div class="navigation">
    <% if @user %>
      <a href="<%= url("/#{@username}") %>">my timeline</a> |
      <a href="<%= url('/public') %>">public timeline</a> |
      <a href="<%= url('/logout') %>">sign out <%= @user['username'] %></a>
    <% else %>
      <a href="<%= url('/public') %>">public timeline</a> |
      <a href="<%= url('/register') %>">sign up</a> |
      <a href="<%= url('/login') %>">sign in</a>
    <% end %>
  </div>

  <div class="body">
    <% if session[:success_message] %>
      <div class="success"><%= session[:success_message] %></div>
      <% session[:success_message] = nil %> <!-- Clear after displaying -->
    <% end %>

    <% if session[:error_message] %>
      <div class="error"><strong>Error:</strong> <%= session[:error_message] %></div>
      <% session[:error_message] = nil %> <!-- Clear after displaying -->
    <% end %>

    <%= yield %>
  </div>

  <div class="footer">
    MiniTwit &mdash; A Sinatra Application
  </div>
</div>